Vagrantfile
**.retry
.vagrant
.idea
.vscode
*.iml
.tox/
.coveragerc
vault.txt
**.cache/

# Byte-compiled files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/
docs/_modules/modules_by_category.rst
docs/_modules/list_of_*.rst
docs/_modules/*_module.rst


inventory/group_vars/secret.yaml

test/integration/inventory/hosts
test/integration/inventory/group_vars/all.yaml
./ansible/

examples/hosts.ini
