Vagrantfile
**.retry
.vagrant
.idea
.vscode
*.iml
.tox/
.coveragerc
vault.txt
**.cache/
cache/
local/ansible

# Byte-compiled files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/
docs/_modules/modules_by_category.rst
docs/_modules/list_of_*.rst
docs/_modules/*_module.rst

devtools/docker-compose.site.yaml

test/integration/inventory/hosts
test/integration/inventory/group_vars/all.yaml
./ansible/
tmp/*
!tmp/.gitkeep
!tmp/licenses
tmp/licenses/*
!tmp/licenses/.gitkeep
test/integration/targets/bigip_ucs/files/*.ucs
examples/hosts.ini
**/.DS_Store
**/*.secret
**/*.iso
