sudo: required

language: python

python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly"

before_install:
  # NOTE: this is probably not required since you're not trying to pull or
  # push from a GitHub repo
  - git config --global user.email "OpenStack_TravisCI@f5.com"
  - git config --global user.name "Travis F5 Openstack"

install:
  - sudo apt-get install libffi-dev libssl-dev
  - pip install --upgrade -r requirements.test.txt

script:
  - make all-tests
  - bash test/ansible/sanity/integration-test-idempotent-names.sh
  - ./test/ansible/sanity/short-description-ends-with-period.py
  - pycodestyle library/
  - pycodestyle test/unit
  - make docker-test

deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: devel
    # only deploy to clouddocs after one build; python 3.5 chosen arbitrarily
    python: '3.5'
    repo: F5Networks/f5-ansible
  script:
    - make docker-deploy
