sudo: required
dist: xenial
language: python

before_install:
  - git config --global user.email "Ansible_TravisCI@f5.com"
  - git config --global user.name "Travis F5 Ansible"

install:
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get -y install libffi-dev libssl-dev
  - travis_retry pip install -r requirements.travis.txt

stages:
  - name: Tests
    if: branch = devel AND type = pull_request

jobs:
  include:
    - stage: Tests
      name: F5 Unit Tests
      script:
        - travis_retry pip install pytest --upgrade
        - pytest -x -s $TRAVIS_BUILD_DIR/test/unit/modules/network/f5/
      python: "3.6"
    - name: F5 Style and F5 Sanity Tests
      script:
        - inv test.style
        - inv test.f5-sanity
      python: "3.6"
    - name: Ansible Sanity Tests - Py3.6
      script:
        - inv module.upstream -m all && inv module-utils.upstream && inv module-doc-fragments.upstream && inv plugins.upstream && inv test.ansible-sanity -r -p 3.6
      python: "3.6"
    - name: Ansible Sanity Tests - Py3.7
      script:
        - inv module.upstream -m all && inv module-utils.upstream && inv module-doc-fragments.upstream && inv plugins.upstream && inv test.ansible-sanity -r -p 3.7
      python: "3.7"