sudo: required
dist: jammy
language: python

before_install:
  - git config --global user.email "Ansible_TravisCI@f5.com"
  - git config --global user.name "Travis F5 Ansible"

install:
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get -y install libffi-dev libssl-dev
  - travis_retry pip install -r requirements.travis.txt

stages:
  - name: Tests
    if: branch = devel AND type = pull_request

jobs:
  include:
    - stage: Tests
      name: F5 Unit Tests
      script:
        - export PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR
        - travis_retry inv test.install-dep
        - travis_retry pip install pytest --upgrade
        - inv test.unit
      python: "3.9"
    - name: F5 Style and F5 Sanity Tests
      script:
        - inv test.style
        - inv test.f5-sanity
      python: "3.10"
    - name: Ansible Sanity Tests - Py3.10
      script:
        - inv test.ansible-test -r -p 3.10
      python: "3.10"
