# Foundational code that supports all the modules
paramiko
bigsuds
requests
git+https://github.com/F5Networks/f5-common-python.git
git+https://github.com/ansible/ansible.git

# Code that supports some "special" modules
deepdiff

# Used for testing modules
pep8
pyflakes
flake8
pytest
nose
virtualenvwrapper
mock

# Used for stubbing new modules (./scripts/stub-new-module.py)
fire

# Used for documentation building (make docs)
sphinx
sphinx_rtd_theme

# For standing up test infrastructure
shade
os-client-config
