paramiko
git+https://github.com/ansible/ansible.git@devel
pytest
pytest-xdist
flake8
packaging
q
nose
mock
pycodestyle
virtualenv
invoke
antsibull-changelog
cryptography
objectpath
ordereddict
simplejson
