# Installing barebones
git+https://github.com/ansible/ansible.git@devel
invoke
cffi
paramiko

# For test building documentation with inv docs.build
sphinx<2.0
markupsafe
f5-sphinx-theme>=1.0.9
cloud_sptheme
sphinxjp.themes.basicstrap
sphinxcontrib-napoleon
sphinx-copybutton

# Test running for style, unit and sanity tests
pycodestyle
flake8
pytest>=4.4.0
pytest-xdist
nose
mock
semver
