ansible>=8.5.0
invoke==2.2.0
pycodestyle==2.12.1
flake8==7.1.1
nose
mock
semver
pytest
pytest-cov
coverage
packaging
antsibull-changelog
ansible-lint
paramiko
jinja2
netaddr
objectpath
PyYAML
ordereddict
cryptography