git+https://github.com/ansible/ansible.git@devel
invoke
cffi

# For test building documentation with inv docs.build
awscli
sphinx<2.0
markupsafe
f5-sphinx-theme>=1.0.9
cloud_sptheme
sphinxjp.themes.basicstrap
sphinxcontrib-napoleon
sphinx-copybutton

# Test running
pycodestyle
flake8
nose
mock
virtualenv
semver
