ansible
invoke
cffi

# Test running
pycodestyle==2.6.0
pylint==2.6.0
flake8==3.8.4
nose
mock
virtualenv
semver
antsibull-changelog
ipaddress; python_version < '3.5'
cryptography
objectpath
ordereddict
simplejson

