# Installing barebones
git+https://github.com/ansible/ansible.git@devel
invoke
cffi
paramiko

# Test running for style, unit and sanity tests
pycodestyle
flake8
pytest>=4.4.0
pytest-xdist
nose
mock
semver
