ltm virtual /Common/bar10 {
    destination /Common/10.10.10.10:80
    ip-protocol tcp
    description "my description"
    mask 255.255.255.255
    profiles {
        /Common/http
        /Common/tcp
    }
    source 0.0.0.0/0
    source-address-translation {
        type automap
    }
    translate-address enabled
    translate-port enabled
}
