#parameters table,
#parameters table th,
#parameters table td {
    border: 1px solid black !important;
    background-color: white !important;
}

#parameters th,
#parameters td {
    padding: 4px !important;
    vertical-align: top !important;
}

#parameters td ul {
    -webkit-padding-start: 0 !important;
}

#parameters td ul li {
    margin-left: 24px !important;
}

.versionmodified {
    font-style: italic !important;
}

.support-matrix td {
    text-align: center;
    vertical-align: center;
    font-family: Proxima, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.support-matrix td:first-child { text-align: left; }
